@import 'variables';

html,
body {
  margin: 0;
  padding: 0;
  background: $bg-color;
}

.app {
  font-family: 'Oswald', sans-serif;
  padding: 25px 60px;
}

.badge-container {
  display: flex;
  margin-bottom: 25px;

  .stats-badge {
    flex-basis: 100%;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}
