@import 'variables';

html,
body {
  margin: 0;
  padding: 0;
  background: $bg-color;
}

.badge-container {
  display: flex;
  padding: 10px;

  .stats-badge {
    flex-basis: 100%;
    margin: 5px;
  }
}

.app {
  font-family: 'Oswald', sans-serif;
}
