@import '../variables';
@import '~bootstrap/scss/mixins/breakpoints';

.stats-badge {
  display: flex;

  &__marker {
    align-items: center;
    background: $dark-color;
    color: $white-color;
    display: flex;
    flex: 1;
  }

  &__content {
    align-items: center;
    background: $light-dark-color;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    flex: 3;
    padding: 15px 0;
  }

  &__icon {
    margin: 0 auto;
  }

  &__counter {
    color: $white-color;
    font-size: 22px;
    font-weight: $fw-bold;
    margin: 0 20px;

    @include media-breakpoint-up(sm) {
      font-size: 24px;
    }

    @include media-breakpoint-up(md) {
      font-size: 28px;
    }
  }

  &__label {
    color: $gray-color;
    font-weight: $fw-light;
    font-size: 12px;
    text-transform: uppercase;

    @include media-breakpoint-up(sm) {
      font-size: 16px;
    }
  }
}
