@import '../variables';

.stats-badge {
  display: flex;

  &__marker {
    align-items: center;
    background: $dark-color;
    color: $white-color;
    display: flex;
    flex: 1;
    padding: 25px 0;
  }

  &__content {
    align-items: center;
    background: $light-dark-color;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    flex: 3;
    padding: 15px 0;
  }

  &__icon {
    margin: 0 auto;
  }

  &__counter {
    color: $white-color;
    font-size: 44px;
    font-weight: $fw-bold;
    margin: 0 20px;
  }

  &__label {
    color: $gray-color;
    font-weight: $fw-light;
    text-transform: uppercase;
  }
}
