@import '../variables';

.waiting-pr {
  display: flex;
  margin-bottom: 20px;
  align-items: center;

  &__avatar {
    max-width: 45px;
    max-height: 45px;
    margin-right: 20px;
  }

  &__img {
    border-radius: 50%;
    background: $white-color;
    max-width: 100%;
    height: auto;
  }

  &__name {
    font-size: 13px;
    font-weight: $fw-bold;
    color: $gray-color;
    letter-spacing: .5px;

    .link {
      color: $gray-color;
    }
  }

  &__line-changed {
    font-size: 12px;
    margin-left: 5px;
  }

  &__time {
    font-size: 10px;
    color: $gray-color;
  }
}
