@import '../variables';

.waiting-users {
}

.waiting-user {
  display: flex;
  margin-bottom: 20px;
  align-items: center;

  &__avatar {
    max-width: 45px;
    max-height: 45px;
    margin-right: 20px;
  }

  &__img {
    border-radius: 50%;
    background: $white-color;
    max-width: 100%;
    height: auto;
  }

  &__name {
    font-size: 13px;
    font-weight: $fw-bold;
    color: $gray-color;
    letter-spacing: .5px;
  }

  &__time {
    font-size: 10px;
    color: $gray-color;
  }
}
