@import 'variables';
@import '~bootstrap/scss/mixins/breakpoints';

html,
body {
  background: $bg-color;
  margin: 0;
  padding: 0;
}

.red {
  color: $red-color;
}

.green {
  color: $green-color;
}

.app {
  display: grid;
  font-family: 'Oswald', sans-serif;
  grid-gap: $grid-gap;
  padding: 20px;
}

.link {
  color: $white-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.badge-container {
  @include media-breakpoint-up(sm) {
    grid-template-columns: 50fr 50fr;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: 20fr 20fr 20fr 40fr;
  }

  display: grid;
  grid-gap: 10px;
}
