$bg-color: #17181c;
$dark-color: #1e1f24;
$light-dark-color: #25262a;
$white-color: #f9f9f9;
$gray-color: #b6b6b7;
$woodsmoke-color: #18191c;
$shark-color: #202226;
$green-color: #89e07d;
$light-blue-color: #00bcd5;
$red-color: #ff2d78;

$fw-bold: 500;
$fw-light: 200;
